        body {
            font-family: Arial;
            /* background-color: #f0f8ff; */
            background:linear-gradient(to right,#74ebd5,#ACB6E5);
            text-align: center;
        }

        .container {
            background-color: white;
            /* padding: 20px; */
            padding: 25px;
            /* margin: 50px auto; */
            margin: 60px auto;
            /* width: 300px; */
            width: 320px;
            /* border-radius: 10px; */
            border-radius: 15px;
            /* box-shadow: 0px 0px 10px gray; */
             box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
        }

        input {
            width: 90%;
            /* padding: 8px; */
            padding: 10px;
            /* margin: 5px; */
            margin: 8px;
            border-radius: 8px;
            border: 1px solid #ccc;
        }

        button {
            /* background-color: #4CAF50; */
            background-color: #6c63ff;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        button:hover {
            /* background-color: #45a049; */
            background-color: #574fd6;
        }
    